.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1022px;
  top: 10px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1197px;
  top: 10px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 220px;
  width: 1238px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-senior-capstone-course-for-the-information-systems-major-collected-knowledge-from-the-is-courses-and-application-to-significant-problems-of-size-and-complexity-state-of-the-art-research-ideas-and-current-business-and-industrial-practices-in-information-systems {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 82px;
  top: 279px;
  width: 1284px;
  height: 215px;
}
.semester-details-spring-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 486px;
}
.frame-6 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  position: absolute;
  left: 34px;
  top: -18px;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: relative;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 818px;
  top: 11px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 540px;
}
.teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 71px;
  top: 594px;
}
